.grid-container {
  display: grid;
  grid-template-columns: 10% auto 10%;
}
.nested-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-start: 2;
  grid-column-end: 3;
  row-gap: 5px;
  column-gap: 5px;
}
.header {
  grid-column-start: 1;
  grid-column-end: 5;
}
.aside {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}
.footer {
  grid-column: 1/5;
  grid-row: 4/5;
}
